[submodule "lv2"]
	path = deps/lv2
	url = https://github.com/lv2/lv2
[submodule "deps/NeuralAudio"]
	path = deps/NeuralAudio
	url = https://github.com/mikeoliphant/NeuralAudio
[submodule "deps/DPF"]
	path = deps/DPF
	url = https://github.com/DISTRHO/DPF
